* {
  box-sizing: border-box;
  color: inherit;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --background: #3cdbc0;
  --menu: #4a4a4a;
  --light-color: #ffffff;
  --general-font: "Rubik", sans-serif;
}

body {
  text-align: center;
  font-family: var(--general-font);
}

.main {
  background-color: var(--background);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header {
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
}

.menu {
  font-size: 16px;
  color: var(--menu);
  padding-bottom: 13px;
  display: inline;
  text-align: center;
}
.logo {
  width: 155px;
  height: 61px;
}

.main-text {
  font-size: 30px;
  display: block;
  text-align: center;
  color: var(--light-color);
  margin: auto;
  font-weight: bold;
}
.main-text span {
  display: block;
}
li {
  display: inline;
}
li:last-child {
  padding-left: 20px;
}
.main-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
ul {
  padding: 0;
}
@media all and (min-width: 768px) {
  .main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding-right: 30px;
  }
  .main-text {
    font-size: 40px;

    text-align: center;
  }

  .menu {
    font-size: 16px;
  }
  .logo {
    padding-left: 30px;
  }
}
